.header{
    
    
    top: 0;
    margin-bottom:0;
    padding-bottom:2rem;
    padding-top:2rem;
    background: rgba(6, 21, 63, 0.664);
}
p{
    font-size: xx-large;
}
.time{
    background:#89f1f1de;
    border-radius:10px;
    margin:2rem;
    margin-bottom:1rem;
    text-align: center;
    padding-left: 0rem;
    padding-right: 0rem;
    
}
.affected{
    background:#f3f055d2;
    border-radius:10px;
    margin:2rem;
    text-align: center;
    padding: 1rem;
}
.death{
    background:#ff2600cb;
    border-radius:10px;
    margin:2rem;
    text-align: center;
    padding: 1rem;
}
.recovery{
    background:#04ff2eb9;
    border-radius:10px;
    margin:2rem;
    text-align: center;
    padding: 1rem;
}
.mySlides{
     height: 15rem;
     width: 10rem;
    
     border-radius:10px;
}
