.bg {
   /* The image used */
   background-image: url("virus.jpg");
 
   /* Full height */
   height: 100%; 
 
   /* Center and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
 }
 
select {
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    outline:0;
    box-shadow:none;
    border:0!important;
    background: #eef7ff;
    background-image: none;
    flex: 1;
    padding: 0 .5em;
    color:rgb(0, 0, 0);
    cursor:pointer;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    
 }
 select::-ms-expand {
    display: inline;
 }
 .select {
    position: relative;
    display: flex;
    width: 40em;
    height: 3em;
    line-height: 3;
    background: #9fe2d5;
    overflow: hidden;
    border-radius: .25em;
 }
 .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #9fe2d5;
    cursor:pointer;
    pointer-events:none;
    transition:.25s all ease;
 }
 .select:hover::after {
    color:white;
 }